<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One color</title>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@600&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="/style.css" type="text/css"> -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <main>
        <div class="nav-container">
            <nav class="nav-bar">
                <h1 id="logo">Lorem</h1>
                <ul>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#order">Order</a></li>
                </ul>
            </nav>
        </div>
        <section class="home">
            <div class="showcase">
                <h2>Lorem M6</h2>
                <img src="../static/assets/camera 1.png" alt="Camera">
                <div class="info">
                    <h3>Small but powerful</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis!</p>
                </div>
            </div>
        </section>
        <div class="features-container">
            <section id="features">
                <h2>Features</h2>
                <div class="cards">
                    <div class="card">
                        <img src="../static/assets/card1 1.png" alt="">
                        <h4>4K 60fps</h4>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="card">
                        <img src="../static/assets/card2 1.png" alt="">
                        <h4>4K 60fps</h4>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="card">
                        <img src="../static/assets/card3 1.png" alt="">
                        <h4>4K 60fps</h4>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </section>
            <img src="../static/assets/wave.png" alt="" class="wave">
        </div>
        <section class="soon">
            <h2>Coming Soon</h2>
            <img src="../static/assets/camera-soon-v2 1.png" alt="">
            <img class="circle" src="../static/assets/circle.png" alt="">
        </section>
        <footer>
            <div class="foot">
                <h1>Lorem 2020</h1>
                <ul>
                    <li><a href="https://twitter.com/HiteshKotecha2"> <img src="../static/assets/twitter-logo.png" alt="" class="twitter"></a></li>
                    <li><a href="https://www.instagram.com/_hitesh__k__/"> <img src="../static/assets/instagram-logo.png" alt="" class="instagram"></a></li>
                </ul>
            </div>
        </footer>
    </main>
</body>

</html>